*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: aliceblue;
    margin-bottom: 50px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

button{
    all: unset;
    cursor: pointer;
    background: linear-gradient(to right, #28C79A, #02C3FA);
    color: white;
    padding: 7px 20px;
    border-radius: 50px;
}

nav a{
    color: rgb(156, 156, 156);
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

main img, main div{
    width: 38%;
}

main h1{
    font-size: 50px;
}

main p{
    padding: 19px 0;
    line-height: 1.8;
}

#about{
    background-color:#F3F4F6;
    padding: 100px 50px;
}

#about h1{
    margin-bottom:20px;
}


.about-boxes{
    display: flex;
    gap: 40px;
    padding: 60px 0px;
}

.about-boxes h2{
    margin: 16px 0;
}

.about-header{
    width: 50%;
}

.country {
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    
}
.single-blog{
    width: 90%;
    box-shadow: 9px 9px 10px #c0c0c0;

}
.single-blog img{
    width: 100%;
}
.para-1{
    font-size: 12px;
}
#article-section{
    padding: 100px 50px;
}
.single-blog a{
    font-size: 15px;
    margin: 14px 0;
    display: block;
    color: #313131;
}

.para-2{
    font-size: 14px;
}

.single-blog div{
    padding: 10px;
}

.single-blog a:hover{
    color: #28C79A;
}
#article-section h1{
    margin-bottom: 30px;
    color: #9698A6;
    font-weight: 400;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}


.footer-2div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}
.footer-about a{
    display: block;
    margin: 10px 0;
    color: white;
}
.footer-careers a{
    display: block;
    margin: 10px 0;
    color: white;
}
footer button{
    margin: 20px;
}
footer{
    background-color: #2D314D;
}

.medias{
    display: flex;
    gap: 15px;
}

footer i{
    color: white;
    font-size: 20px;
    margin: 20px 0;
}
footer p{
    color: white;
}